<div class="weatherWidget">
    {{#each partials.weatherContext.locations}}
        <div class="location">
            <h3>
                {{name}}
            </h3>

            <a href="{{forecastUrl}}">
                <img src="iconURL" alt="{{weather}}">
                {{weather}}, {{temp}}
            </a>
        </div>
    {{/each}}
    <small>Source: <a href="http://www.wudnerground.com"></a></small>
</div>
